@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Poppins:ital,wght@0,100;0,300;0,600;1,100;1,500&display=swap');
*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
.sec1 {
    position: relative;
    width: 100%;
    height: 100vh;
    /* border:1px solid black; */
}

nav {
    position: absolute;
    width: 100%;
    height: 22vh;
    /* border:1px solid red; */
}

.icons {
    position: absolute;
    width: 20%;
    height: 10vh;
    /* border:1px solid blue; */
    top: 55px;
    left: 40px;
    letter-spacing: 10px;
}

.logo {
    position: absolute;
    top: 43px;
    left: 500px;
}
a{
    color:black;
    text-decoration: none;
}
.ul {
    position: absolute;
    width: 40%;
    height: 10vh;
    top: 40px;
    left: 55%;
    /* border:1px solid blue; */
}

.ul li {
    position: absolute;
    top: 15px;
    list-style: none;
}

.ul li:hover {
    color: #ff3271;
}

.down1 {
    position: absolute;
    width: 15vw;
    height: 40vh;
    top: 46px;
    background-color: white;
    border-top: 3px solid #ff3271;
    box-shadow: 5px 5px 5px 0px gray;
    /* border:1px solid red; */
    visibility: hidden;
}

.ul li:hover .down1 {
    visibility: visible;
    transition-duration: 1s;
}

.a1::after {
    position: absolute;
    content: "";
    width: 0%;
    background-color: #ff326fa5;
    height: 30px;
    left: 0%;
    top: 0%;
    /* display: block; */
    -webkit-transition: all 700ms ease;
}

.a1:hover::after {
    width: 100%;
    background-color: transparent;
}

.a1 {
    position: relative;
    color: black;
    left: 20px;
}

.a2 {
    position: absolute;
    color: black;
    left: 20px;
    top: 40px;
}

.a3 {
    position: absolute;
    color: black;
    left: 20px;
    top: 80px;
}

.a4 {
    position: absolute;
    color: black;
    left: 20px;
    top: 120px;
}

.a5 {
    position: absolute;
    color: black;
    left: 20px;
    top: 160px;
}

.a6 {
    position: absolute;
    color: black;
    left: 20px;
    top: 200px;
}

.down2 {
    position: absolute;
    width: 11vw;
    height: 12vh;
    top: 46px;
    background-color: white;
    border-top: 3px solid #ff3271;
    box-shadow: 5px 5px 5px 0px gray;
    /* border:1px solid red; */
    visibility: hidden;
}

.ul li:hover .down2 {
    visibility: visible;
    transition-duration: 1s;
}

.about {
    position: absolute;
    left: 70px;
}

.b1 {
    position: absolute;
    color: black;
    left: 20px;
}

.b2 {
    position: absolute;
    color: black;
    left: 20px;
    top: 35px;
}

.port {
    position: absolute;
    left: 145px;
}

.down3 {
    position: absolute;
    width: 18vw;
    height: 32vh;
    top: 46px;
    background-color: white;
    border-top: 3px solid #ff3271;
    box-shadow: 5px 5px 5px 0px gray;
    /* border:1px solid red; */
    visibility: hidden;
}

.ul li:hover .down3 {
    visibility: visible;
    transition-duration: 1s;
}

.c1 {
    position: absolute;
    left: 20px;
}

.c2 {
    position: absolute;
    left: 20px;
    top: 40px;
}

.c3 {
    position: absolute;
    left: 20px;
    top: 80px;
}

.c4 {
    position: absolute;
    left: 20px;
    top: 120px;
}

.c5 {
    position: absolute;
    left: 20px;
    top: 160px;
}

.blog {
    position: absolute;
    left: 240px;
}

.down4 {
    position: absolute;
    width: 15vw;
    height: 32vh;
    top: 46px;
    background-color: white;
    border-top: 3px solid #ff3271;
    box-shadow: 5px 5px 5px 0px gray;
    /* border:1px solid red; */
    visibility: hidden;
}

.ul li:hover .down4 {
    visibility: visible;
    transition-duration: 1s;
}

.d1 {
    position: absolute;
    left: 20px;
}

.d2 {
    position: absolute;
    left: 20px;
    top: 40px;
}

.d3 {
    position: absolute;
    left: 20px;
    top: 80px;
}

.d4 {
    position: absolute;
    left: 20px;
    top: 120px;
}

.d5 {
    position: absolute;
    left: 20px;
    top: 160px;
}

.cont {
    position: absolute;
    left: 305px;
}

.bar {
    position: absolute;
    top: 20px;
    left: 450px;
}
.csec1 {
    position: relative;
    width: 55%;
    height: 60vh;
    top: 200px;
    left: 320px;
    /* border:1px solid red; */
}

.circle1 {
    position: absolute;
    width: 140px;
    height: 140px;
    /* border:1px solid gray; */
    border-radius: 50%;
    background-color:#ffc107;
    opacity: 0.5;
    top: 70px;
}
.circle2 {
    position: absolute;
    width: 40px;
    height: 40px;
    /* border:1px solid gray; */
    border-radius: 50%;
    background-color: rgba(0, 255, 60, 0.753);
    top: 70px;
    left: 430px;
}
.csec1 p {
    position: absolute;
    top: 80px;
    left: 150px;
}
.csec1 h1 {
    position: absolute;
    font-size: 70px;
    top: 100px;
    left: 35px;
    letter-spacing: 2px;
}

.csec1 h4 {
    position: absolute;
    font-size: 15px;
    top: 205px;
    left: 20px;
    color: gray;
}

.csec1 h5 {
    position: absolute;
    color: gray;
    top: 230px;
    left: 180px;
    font-size: 18px;
}
.container{
    position: relative;
    width:100%;
    height: 250vh;
    /* border:1px solid black; */
    background-image: url(./images/7.png);
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows:57vh 57vh 57vh;
    justify-content: space-evenly;
    row-gap: 50px;
}
.cards{
    /* border:1px solid red; */
    background-color: white;
}
.first{
    position: relative;
    width: 100%;
    height: 100%;
    top:10px;
    /* border:1px solid blue; */
}
.first h5{
    position: absolute;
    left:20px;
    top:40px;
}
.first h3{
    position: absolute;
    left:20px;
    top:70px;
    font-size: 22px;
}
h3:hover{
    text-decoration: underline;
    color:#ff3271;
    transition-duration: 1s;
}
.first h4{
    position: absolute;
    left:20px;
    top:160px;
}
.color1{
    color:#ff3271;
    padding-left:5px;
}
.first p{
    position: absolute;
    left:15px;
    top:200px;
    line-height: 30px;
}
.first h2{
    position: absolute;
    left:15px;
    top:280px;
    font-size:17px;
    color:#ff3271;
}
h2:hover{
    color:#2F4664;
}
.second {
    position: relative;
    width: 100%;
    height: 100%;
    top:10px;
    /* border:1px solid blue; */
}
.second h5 {
    position: absolute;
    left: 20px;
    top: 40px;
}
.second h3 {
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: 22px;
}
h3:hover {
    text-decoration: underline;
    color: #ff3271;
    transition-duration: 1s;
}
.second h4 {
    position: absolute;
    left: 20px;
    top: 160px;
}
.color2 {
    color: #ff3271;
    padding-left: 5px;
}
.second p {
    position: absolute;
    left: 15px;
    top: 200px;
    line-height: 30px;
}
.second h2 {
    position: absolute;
    left: 15px;
    top: 280px;
    font-size: 17px;
    color: #ff3271;
}
h2:hover {
    color: #2F4664;
}
.third {
    position: relative;
    width: 100%;
    height: 100%;
    top:10px;
    /* border:1px solid blue; */
}
.third h5 {
    position: absolute;
    left: 20px;
    top: 40px;
}
.third h3 {
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: 22px;
}
h3:hover {
    text-decoration: underline;
    color: #ff3271;
    transition-duration: 1s;
}
.third h4 {
    position: absolute;
    left: 20px;
    top: 160px;
}
.color3 {
    color: #ff3271;
    padding-left: 5px;
}
.third p {
    position: absolute;
    left: 15px;
    top: 200px;
    line-height: 30px;
}
.third h2 {
    position: absolute;
    left: 15px;
    top: 280px;
    font-size: 17px;
    color: #ff3271;
}
h2:hover {
    color: #2F4664;
}
.fourth {
    position: relative;
    width: 100%;
    height: 100%;
    /* border:1px solid blue; */
}
.fourth h5 {
    position: absolute;
    left: 20px;
    top: 40px;
}
.fourth h3 {
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: 22px;
}
h3:hover {
    text-decoration: underline;
    color: #ff3271;
    transition-duration: 1s;
}
.fourth h4 {
    position: absolute;
    left: 20px;
    top: 160px;
}
.color4 {
    color: #ff3271;
    padding-left: 5px;
}
.fourth p {
    position: absolute;
    left: 15px;
    top: 200px;
    line-height: 30px;
}
.fourth h2 {
    position: absolute;
    left: 15px;
    top: 280px;
    font-size: 17px;
    color: #ff3271;
}
h2:hover {
    color: #2F4664;
}
.five {
    position: relative;
    width: 100%;
    height: 100%;
    /* border:1px solid blue; */
}
.five h5 {
    position: absolute;
    left: 20px;
    top: 40px;
}
.five h3 {
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: 22px;
}
h3:hover {
    text-decoration: underline;
    color: #ff3271;
    transition-duration: 1s;
}
.five h4 {
    position: absolute;
    left: 20px;
    top: 160px;
}
.color5 {
    color: #ff3271;
    padding-left: 5px;
}
.five p {
    position: absolute;
    left: 15px;
    top: 200px;
    line-height: 30px;
}
.five h2 {
    position: absolute;
    left: 15px;
    top: 280px;
    font-size: 17px;
    color: #ff3271;
}
h2:hover {
    color: #2F4664;
}
.six {
    position: relative;
    width: 100%;
    height: 100%;
    /* border:1px solid blue; */
}
.six h5 {
    position: absolute;
    left: 20px;
    top: 40px;
}
.six h3 {
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: 22px;
}
h3:hover {
    text-decoration: underline;
    color: #ff3271;
    transition-duration: 1s;
}
.six h4 {
    position: absolute;
    left: 20px;
    top: 160px;
}
.color6 {
    color: #ff3271;
    padding-left: 5px;
}
.six p {
    position: absolute;
    left: 15px;
    top: 200px;
    line-height: 30px;
}
.six h2 {
    position: absolute;
    left: 15px;
    top: 280px;
    font-size: 17px;
    color: #ff3271;
}
h2:hover {
    color: #2F4664;
}
.seven {
    position: relative;
    width: 100%;
    height: 100%;
    /* border:1px solid blue; */
}
.seven h5 {
    position: absolute;
    left: 20px;
    top: 40px;
}
.seven h3 {
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: 22px;
}
h3:hover {
    text-decoration: underline;
    color: #ff3271;
    transition-duration: 1s;
}
.seven h4 {
    position: absolute;
    left: 20px;
    top: 160px;
}
.color7 {
    color: #ff3271;
    padding-left: 5px;
}
.seven p {
    position: absolute;
    left: 15px;
    top: 200px;
    line-height: 30px;
}
.seven h2 {
    position: absolute;
    left: 15px;
    top: 280px;
    font-size: 17px;
    color: #ff3271;
}
h2:hover {
    color: #2F4664;
}
.eight {
    position: relative;
    width: 100%;
    height: 100%;
    /* border:1px solid blue; */
}
.eight h5 {
    position: absolute;
    left: 20px;
    top: 40px;
}
.eight h3 {
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: 22px;
}
h3:hover {
    text-decoration: underline;
    color: #ff3271;
    transition-duration: 1s;
}
.eight h4 {
    position: absolute;
    left: 20px;
    top: 160px;
}
.color8 {
    color: #ff3271;
    padding-left: 5px;
}
.eight p {
    position: absolute;
    left: 15px;
    top: 200px;
    line-height: 30px;
}
.eight h2 {
    position: absolute;
    left: 15px;
    top: 280px;
    font-size: 17px;
    color: #ff3271;
}
h2:hover {
    color: #2F4664;
}
.nine{
    position: relative;
    width: 100%;
    height: 100%;
    /* border:1px solid blue; */
}
.nine h5 {
    position: absolute;
    left: 20px;
    top: 40px;
}
.nine h3 {
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: 22px;
}
h3:hover {
    text-decoration: underline;
    color: #ff3271;
    transition-duration: 1s;
}
.nine h4 {
    position: absolute;
    left: 20px;
    top: 160px;
}
.color9 {
    color: #ff3271;
    padding-left: 5px;
}
.nine p {
    position: absolute;
    left: 15px;
    top: 200px;
    line-height: 30px;
}
.nine h2 {
    position: absolute;
    left: 15px;
    top: 280px;
    font-size: 17px;
    color: #ff3271;
}
h2:hover {
    color: #2F4664;
}
.ten {
    position: relative;
    width: 100%;
    height: 100%;
    /* border:1px solid blue; */
}
.ten h5 {
    position: absolute;
    left: 20px;
    top: 40px;
}
.ten h3 {
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: 22px;
}
h3:hover {
    text-decoration: underline;
    color: #ff3271;
    transition-duration: 1s;
}
.ten h4 {
    position: absolute;
    left: 20px;
    top: 160px;
}
.color10 {
    color: #ff3271;
    padding-left: 5px;
}
.ten p {
    position: absolute;
    left: 15px;
    top: 200px;
    line-height: 30px;
}
.ten h2 {
    position: absolute;
    left: 15px;
    top: 280px;
    font-size: 17px;
    color: #ff3271;
}
h2:hover {
    color: #2F4664;
}
footer {
    width: 100%;
    height: 40vh;
    /* border:1px solid black; */
    background-color: #F4F9FF;
}
.footerimg {
    margin-top: 60px;
    margin-left: 43%;
}
footer p {
    text-align: center;
}
.tags {
    width: 20%;
    height: 10vh;
    /* border:1px solid red; */
    margin-top: 20px;
    margin-left: 43%;
    letter-spacing: 10px;
}
